p {
    font-family: "Monaco", monospace;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.franja-arriba,
.franja-abajo{
    background-color: skyblue;
}

li {
    font-family: "Monaco", monospace;
    font-weight: 800;
}

.imagen-centro{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: inset;
}

.franja-abajo li{
    color: white;
}

h1 {
    font-size: 35px;
    font-family: "Monaco", monospace;
    font-weight: bold;
    color: black;
    text-align: center;
}

.subtitle, .sub-izquierda{
    font-size: 20px;
    color: black;
    font-family: "Monaco", monospace;
}

.subtitle .sub-izquierda{
    text-align: left;
}

.subtitle{
    text-align: center;
}


.li-index{
    text-align: center;
}